.footer {
  background-color: #0b96e7;
  position: relative; 
  left: 0;
  bottom: 0;
  padding-bottom: 10px;
  width: 100%;
  color: white;
  text-align: center;
  height: 15vh;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.logo {
  padding-top: 30px;
  margin-right: 33%;
}

.logoImage {
  width: 60px;
  height: 60px; 
  border-radius: 50%; 
  object-fit: cover;
}

.aboutCompany,
.quickLinks,
.socialMedia {
  margin: 0 10px;
}

.aboutCompany h3,
.quickLinks h3 {
  margin-top: 0;
}

.quickLinks a,
.socialMedia a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 5px 0;
}

.quickLinks a:hover,
.socialMedia a:hover {
  text-decoration: underline;
}

.footerBottom {
  text-align: center;
  padding: 10px;
  background-color: #222;
}

